{% extends 'base.html' %}{% block body %}
<div>
  <h2 class="col-6 text-center">Lentes:</h2>
  <div class="row d-flex justify-content-around">
    {% for lente in lentes %}
    <div class="card ml-1 mt-2" style="width: 14rem">
      <img src="{{lente.imagen.url}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{lente.nombre}}</h5>
        <p class="card-text">
          Armazon: {% if lente.armazon == True %} Si {% else %} No{% endif %}
        </p>
        <p class="card-text">Distancia: {{lente.distancia}}</p>
        <p class="card-text">Precio: {{lente.precio}}</p>
        {% if lente.lado %}
        <p class="card-text">Lado: {{lente.lado}}</p>

        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <h2 class="mt-5 col-6 text-center">Productos:</h2>
  <div class="row d-flex justify-content-around">
    {% for producto in productos %}
    <div class="card ml-1 mt-2" style="width: 14rem">
      <img src="{{producto.imagen.url}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <p class="card-text">Precio: {{producto.precio}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
